<div class="container mt-5 mb-5">
    <div class="row">
        <div class="btn-add"><button class="btn btn-dark" routerLink="/add-product">Add Product<i class="bi bi-plus-circle-fill"></i></button></div>
        <div class="col-lg-4" *ngFor="let order of orderData">
            <div class="orderbox mt-3 mb-3" >
                <img src="{{ order. pic}}">
                <h1>{{ order.name }}</h1>
                <p>{{ order.disponibility }} <br> {{ order.price | currency:'USD' }}</p>
                <a class="buybtn" [routerLink]="['/menu',order.id]">Shop Now<i class="bi bi-cart-plus-fill"></i></a>
                <div class="updel-btn">
                    <button class="update-btn" type="button" ><i class="bi bi-pencil-fill"></i></button>
                    <button class="delete-btn" type="button" ><i class="bi bi-trash-fill"></i></button>
                </div>
                
            </div>
        </div>
    </div>
</div>
