/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;

}
:root {
    --secondary-color:#8d8d8d;
    --primary-color:#7fd3d6;
}
body {
    height: 100vh;
    font-family:'Times New Roman', Times, serif ;
}
